
:root {
    --yellow: #0000;
    --pink: #fff;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #222;
    margin: 0;
}

.clock {
    width: 300px;
    height: 300px;
    background: white;
    border-radius: 50%;
    border: 12px solid var(--yellow);
    outline: 4px solid black;
    position: relative;
}

.numbers span {
    position: absolute;
    inset: 10px;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    font-family: 'Arial Black', sans-serif;
    font-size: 1.2rem;
}

.numbers span b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}


.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform-origin: bottom; 
    background: var(--pink);
    border: 3px solid black;
    z-index: 10;
    border-radius: 4px;
    box-shadow: 4px 0px 0px rgba(0,0,0,0.2);
}

.hand::before {
    content: '';
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 18px solid var(--pink);
    filter: drop-shadow(0px -3px 0px black);
}

.hour {
    width: 14px;
    height: 60px;
    margin-left: -7px;
}

.minute {
    width: 10px;
    height: 90px;
    margin-left: -5px;
}

.second {
    width: 4px;
    height: 110px;
    margin-left: -2px;
    background: red;
    border: none;
    box-shadow: none;
}
.second::before { display: none; }

.center-dot {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    background: black;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}